[mongo]
	db		= "mongodb://localhost/fankserver-website"

[teamspeak]
	host			= "127.0.0.1"
	user			= "serveradmin"
	password		= ""
	nickname		= "Fankserver-Buttler"
	guestgrpid		= 8
	registeredgrpid	= 32
